body{
    background-color: #f4f4f4;
}

#About-nav{
    height:80px;
    width:99%;
    align-content: center;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: row-reverse;
    justify-content: end;
}

.About-nav{
    margin-left:50px ;
}
.container {
    margin: 5px auto;
    padding: 0 15px;
    background-image :url("./../images/abuot/greydot1.avif");
    height:fit-content;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero img {
    width: 250px;
    height: fit-content;
    border-radius: 100px;
    margin-left: 40px;
}

.hero-text {
    width: 60%;
}

#span{
    color:#0066ff;
}

.hero-text p {
    font-size: 25px;
    line-height: 1.3;
    margin-bottom: 20px;

}

.team-card{
    display: flex;
    margin:15px 40px;
}

h1{
    text-align: center;
}

.card{
    height:400px;
    width: 300px;
    background-color:white;
    margin-top:10px ;
    margin-left: 70px;
}

.card:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-section img{
    height :220px;
    width: 280px;
    border-radius: 25px 50px;
    margin:10px 10px;
}

h2{
    text-align: center;
}

p{
    font-size: 20px;
    text-align: center;
}

/* ethics page style */

.Overview-container{
    margin:20px auto;

}

.hero img {
    width: 250px;
    height: fit-content;
    border-radius: 100px;
    margin-left: 40px;
}

.Overview-Text{
    text-align: start;
    margin-left: 40px;
}

.overview-img{
    height: 300px;
    width: fit-content;
    margin-right:50px;

}
.overview-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*AboutMain page Style*/

#ShopEasy-group{
    display:flex;
    width:97%;
    height: 400px;
    background-color: #0066ff;
    align-content: center;
    padding: 20px 20px;
}

#ShopEasy-group-img{
    height:300px;
    width: 300px;
    margin-top:25px ;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 10px;
}

#ShopEasy-group-para{
    margin-left: 60px;
    margin-right: 20px;
    align-items: center;
    font-size: 25px;
    color:white;
}

#heading1{
    color: yellow;
    text-align: center;
}

#Aboutus-button{
    height:50px;
    width:120px;
    margin:50px 300px;
    border-radius: 5px ;
    border: white 2px solid;
    color: white;
    background-color: #0066ff ;
    font-size: 20px;
    cursor:pointer;

}

/*Ethics & Compliance*/

#EthicsHeading{
    font-size: 40px;
}

#Ethics-img{
    margin:10px 300px;
}

#Ethics p{
    text-align: center;
    margin:0px 70px;
    font-size: 25px;
}

#Ethic-button{
    height:50px;
    width:120px;
    margin:20px 550px;
    border-radius: 5px ;
    border: white 2px solid;
    color: white;
    background-color: #0066ff;
    cursor:pointer;
    font-size: 16px;
    padding: 10px 10px;
}

/*  */

#ShopEasy-group-technology{
    display:flex;
    width:97%;
    height: 400px;
    align-content: center;
    padding: 20px 20px;
}

#ShopEasy-group-technology h3{
    text-align: center;
}

#ShopEasy-group-technology p{
    color: black;
}

/*Sustainability-container*/

#Sustainability-container{
    height: fit-content;
    background-color: #e6f7ff;
}

#Sustainability-container img{
    height:400px;
    width: 450px;
    margin-left:450px;

}

#Sustainability-container p{
    text-align: center;
    margin:10px 70px;
    font-size: 23px;
}
