.head{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box{
    height: 510px;
    width: 310px;
    border: none;
    background-color: rgba(248, 242, 242, 0.934);
    box-shadow:  2px 15px 12px 4px #ffffe6;
    margin: 20px;

}
.box:hover{
    box-shadow:  2px 2px 2px 2px #d5d5d1;
    border-radius: 20px;
}
.imge{
    position: relative;
    top: 10px;
    left: 10px;
}
.imge:hover{
    transform: scale(1.4);
}
.text{
  text-align: center;
  color: black;
  font-weight: 900;
}
span{
    margin-right: 220px;
    color: cadetblue;
}
#quantity{
   position: relative;
   left: 110px;
   bottom: 5px;
   color: rgb(5, 2, 24);
   font-weight: 900;
}
 .quality-icon{
    height: 20px;
    cursor: pointer;
    position: relative;
    left: 100px;
}
.quality-icon_1{
    height: 20px;
    cursor: pointer;
    position: relative;
    right: 100px;
}
.rated{
    height: 30px;
    width: 60px;
    border-radius: 5px;
    border: none;
    background-color: green;
    position: relative;
    bottom: 35px;
    left: 20px;
    padding-left: 20px;
    padding-top: 5px;
}
.val{
    font-size: 25px;
    margin-left: 130px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.logo{
    display: flex;
    justify-content: space-around;
}
.logoo{
    border-radius: 70px 70px 70px 70px;
}
