.head{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box{
    height: 510px;
    width: 310px;
    border: none;
    background-color: rgba(248, 242, 242, 0.934);
    box-shadow:  2px 15px 12px 6px #ffffe6;
    margin: 20px;

}
.box:hover{
    box-shadow:  2px 2px 2px 2px #d5d5d1;
    border-radius: 20px;
}
.imge{
    position: relative;
    top: 10px;
    left: 15px;
}
.imge:hover{
    transition: 1s;
    transform: scale(0.8);
}
.text{
  text-align: center;
  color: black;
  font-weight: 900;
}
span{
    margin-right: 220px;
    color: cadetblue;
}
#quantity{
   position: relative;
   left: 110px;
   bottom: 5px;
   color: rgb(5, 2, 24);
   font-weight: 900;
}
 .quality-icon{
    height: 20px;
    cursor: pointer;
    position: relative;
    left: 100px;
}
.quality-icon_1{
    height: 20px;
    cursor: pointer;
    position: relative;
    right: 100px;
}
.rated{
    height: 30px;
    width: 60px;
    border-radius: 5px;
    border: none;
    background-color: green;
    position: relative;
    bottom: 35px;
    left: 20px;
    padding-left: 20px;
    padding-top: 5px;
}
.val{
    font-size: 25px;
    margin-left: 130px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.logo{
    display: flex;
    justify-content: space-around;
    background-color:rgb(251, 248, 242);
    margin: 0;
    padding: 0;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}
.logoo{
    border-radius:80px 80px 80px 80px;
    margin: 10px;
}
a{
    text-decoration: none;
}
body{
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    margin: 0;
}
.img-changer-container{
    margin: 50px 0;
}
.banner-img{
    width: 100vw;
    height: 470px;
}

.icon-action {
height: 60px;
position: absolute;
top:450px;
cursor: pointer;
transition: 0.5s;
}

.icon-left {
left: 0;
}

.icon-left:hover {
transform: scale(0.8) translateX(-10px);
}

.icon-right {
right: 0;
}

.icon-right:hover {
transform: scale(0.8) translateX(10px);
}

/** ***** end */

@media screen and (max-width: 200px) {
    .container{
        display:inline;
    }
    .logo{
        display:inline;
    }
}

