
.furniture{
    display: flex;
    justify-content: space-evenly;
}
.furniture-main{
    height: 400px;
    width: 320px;
    background-color:whitesmoke;
    color: black;
    border-radius: 5px;
    border: 1px gray solid;
}
.furniture-Image{
    height: 230px;
    width: 320px;
    border-radius: 5px 5px 0 0;
    padding: 0px 0px 3px 0px;
    cursor: pointer;
}
.text-Name{
    text-align: center;
}
.text-padding{
    margin: 0 0 5px 0 ;
}
.btn-Order{
    border: 2px;
    border-radius: 5px;
    background-color: rgb(22, 187, 22);
    color: black;
    padding: 10px;
    font-size: 16px;
    margin: 3px 10px 5px 45px;
    cursor: pointer;

}
.btn-Card{
    border: 2px;
    border-radius: 5px;
    background-color: rgb(232, 232, 18);
    color: black;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;

}