body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}



main {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: 1em;
}

.category-title {
    width: 100%;
    text-align: left;
    margin: 1em 0;
    font-size: 1.5em;
    color: #333;
    text-transform: uppercase;
}

.product {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 1em;
    padding: 1em;
    width: 200px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.product img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1em;
}

.product h2 {
    font-size: 1.2em;
    margin: 0.5em 0;
}

.product p {
    color: #555;
    margin: 0.5em 0;
}