body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.login-container {
    background-color: white;
    padding:20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

.form-group{
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}