body{
    margin:0px;
    padding:0px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.signup-container{
    background-color: white;
    padding: 20px 20px;
    border-radius: 5px;
    width: 300px;
}

h2 {
    text-align: center;
}

.form-group{
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input{
    width: 91%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button{
    width: 100px;
    height:30px;
    margin-left:100px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #ff3300;
    border:none;
    color: white;
}

button:hover {
    background-color:#e62e00;
}