.slider {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    height:400px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    width:fit-content;
    height:400px;
}

.symbols{
    height: 60px;
    position: absolute;
    top:40%;
    cursor: pointer;
    transition: 0.5s ;
}

.less-sym{
    left:0;
    
}

.greater-sym{
    right:0;
    
}