.slider {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    height:400px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    width:fit-content;
    height:400px;
}