.slider {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    height:400px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    width: 100%; 
    height: 400px;
    object-fit: cover; 
    
}

.symbols{
    height: 60px;
    position: absolute;
    top:40%;
    cursor: pointer;
    transition: 0.5s ;
}

.less-sym{
    left:0;
    
}

.greater-sym{
    right:0;
    
}

.cards {
        display: flex;
        flex-wrap: wrap; /* Allows cards to wrap on smaller screens */
        justify-content: space-around;
        margin: 20px;
    }

.card {
        border-radius: 5px;
        padding: 10px;
        text-align: center;
        width: 200px;
        margin: 10px; /* Added margin for spacing */
    }

.card:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.rated{
    height: 30px;
    width: 60px;
    border-radius: 5px;
    border: none;
    background-color: green;
    position: relative;
    bottom: 35px;
    left: 20px;
    padding-left: 20px;
    padding-top: 5px;
    margin-left: 50px;
}

/* media query for mobile*/

@media (max-width: 480px) {
    .card {
        width: 90%; 
    }

    .slider {
        height: 200px; 

    }

    .slider img{
        width:fit-content;
    }

    .slide {
        height: 200px;
       
    }

    .symbols {
        height: 30px; 
    }

    .rated {
        bottom: 20px; 
        left:10px;
         
    }
}

/* media query for tab*/

@media (max-width: 768px) {
    .card {
        width: 45%; 
    }

    .slider {
        height: 300px; 
    }

    .slide {
        height: 300px; 
        object-fit: cover;
        width:370px;
    }

    .symbols {
        height: 40px; 
    }
  
}
